@using TLD15.Composition
@using TLD15.TagHelpers
@model TLD15.Pages.Accounts.EditModel.RequestEdit

<tr>
    <td>@Model.Login</td>
    <td> **** </td>
    <td>
        <button class="outline" hx-get="@Url.Handler("EditItem", new { id = Model.Id })">
            @Globals.Controls.Edit
        </button>
        <button class="outline" hx-delete="@Url.Handler("Item", new { id = Model.Id })" antiforgery="true">
            @Globals.Controls.Delete
        </button>
    </td>
</tr>