@page "/Press"
@using Common.Composition
@using System.Globalization
@using Common.Utils
@model TLD15.Pages.Press.ReadModel

@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Title} | {ReadModel.MetaPublic.Title}";

    ViewData[Globals.OpenGraph.Url] = Model.Host.TrimLast('/') + ViewContext.HttpContext.Request.Path;
    ViewData[Globals.OpenGraph.Image] = $"{Model.Host}/logo.png";
    ViewData[Globals.OpenGraph.Locale] = Globals.Settings.Locale;
}

@if (Model.Data.Count > 0)
{
    <div class="component-container">
        <h1 class="component-title">@ReadModel.MetaPublic.Title</h1>

        <div class="projects-container">
            @foreach (var project in Model.Data)
            {
                <div id="@project.Id" class="project-card">
                    <div class="project-image-container">
                        <a href="@project.Url" target="_blank" rel="external">
                            @if (string.IsNullOrEmpty(project.PosterUrl))
                            {
                                <img class="project-image" loading="lazy"
                                     src="/images/placeholder/project.png"
                                     alt="@project.PosterAlt"
                                     aria-labelledby="@project.PosterAlt">
                            }
                            else
                            {
                                <img class="project-image" loading="lazy"
                                     src="@project.PosterUrl"
                                     alt="@project.PosterAlt"
                                     aria-labelledby="@project.PosterAlt">
                            }
                        </a>

                        <div class="project-image-overlay-date">
                            @project.CreatedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                        </div>
                    </div>

                    <a href="@project.Url" target="_blank" rel="external" class="project-title">
                        <b>@project.Title</b>
                    </a>

                    <div class="project-description">
                        @project.Subtitle
                    </div>


                </div>
            }
        </div>
    </div>
}
