@page
@using System.Globalization
@using TLD15.Composition
@using TLD15.Helpers
@using TLD15.Pages.Press;

@model TLD15.Pages.Press.ReadModel
@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Title} | {ReadModel.Meta.Title}";

    ViewData[Globals.Page.OpenGraph.Url] = Model.Host.TrimLast('/') + ViewContext.HttpContext.Request.Path;
    ViewData[Globals.Page.OpenGraph.Image] = $"{Model.Host}/logo.png";
    ViewData[Globals.Page.OpenGraph.Locale] = Globals.Settings.Locale;
}

<div class="component-container">
    <h2 id="@ReadModel.Meta.Id" class="component-title">@ReadModel.Meta.Title</h2>

    @if (!Model.ModelState.IsValid)
    {
        <span asp-validation-for="@ReadModel.Meta.Id"></span>
    }
    @if (Model.Data.Any())
    {
        <div class="articles-container">
            @foreach (var item in Model.Data)
            {
                <div class="article-card">
                    <div class="article-image-container">
                        <a href="@item.Url" target="_blank" rel="external">
                            <img class="article-image" loading="lazy"
                                 src="/images/placeholder/article.png"
                                 alt="@item.PosterAlt"
                                 aria-labelledby="@item.PosterAlt">
                        </a>

                        <div class="article-image-overlay-date">
                            @item.PublishedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                        </div>
                    </div>

                    <a href="@item.Url" target="_blank" rel="external" class="article-title">
                        <b>@item.Title</b>
                    </a>

                    <div class="article-description">
                        @item.Subtitle
                    </div>
                </div>
            }
        </div>
    }
</div>
