@page
@using System.Globalization
@using TLD15.Composition
@model TLD15.Pages.Projects.EditModel
@{
    ViewData[Globals.Page.Title] = $"{EditModel.Meta.Title} | {Globals.Brand.Title}";
}
<script src="~/js/jquery.min.js"></script>

<div class="component-container">
    <div class="tabs">
        <button class="tab-button tab-active" id="tab1" onclick="switchTab('tab1', 'content-tab1')">Edit</button>
        <button class="tab-button" id="tab2" onclick="switchTab('tab2', 'content-tab2')">Preview</button>
    </div>

    <div class="tab-panel tab-panel-active" id="content-tab1">
        <form class="article-edit" id="#main-form" method="post">
            <input type="hidden" asp-for="@Model.Data.Version" />

            <input id="id" type="text" asp-for="@Model.Data.Id" placeholder="Id">
            <input id="title" type="text" asp-for="@Model.Data.Title" placeholder="Title">
            <input id="subtitle" type="text" asp-for="@Model.Data.SubTitle" placeholder="SubTitle">

            <input id="posterUrl" type="text" asp-for="@Model.Data.PosterUrl" placeholder="PosterUrl">
            <input id="posterAlt" type="text" asp-for="@Model.Data.PosterAlt" placeholder="PosterAlt">

            <select id="division-code" asp-for="@Model.Data.DivisionCode" asp-items="@Model.Divisions"></select>

            <textarea id="content" asp-for="@Model.Data.ContentHtml" placeholder="Content" cols="40" rows="5"></textarea>
            
            <textarea id="links" asp-for="@Model.Data.Links" placeholder="" cols="40" rows="5"></textarea>
        </form>
    </div>

    <div class="tab-panel" id="content-tab2">
        <div class="article-container">
            <div class="article-container-poster-container">
                <img id="preview-poster" alt="Poster preview">
                <div id="preview-division-code" class="article-container-poster-division"></div>
                <div class="article-container-poster-date">
                    @DateTime.UtcNow.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                </div>
                <div class="article-container-poster-text-overlay">
                    <h1 id="preview-title">Placeholder</h1>
                    <h2 id="preview-subtitle">Placeholder</h2>
                </div>
            </div>
        </div>

        <div id="preview-content-html"></div>
    </div>

    <span asp-validation-for="Data" class="text-danger"></span>
    <button onclick="submitForm()">@Globals.Controls.Save</button>
</div>

<script>
    function createHtml() {
        $("#preview-poster").attr("src", $("#posterUrl").val() || "/images/placeholder/article.png");
        $("#preview-title").html($("#title").val());
        $("#preview-subtitle").html($("#subtitle").val());
        $("#preview-division-code").html($("#division-code").val());
        $("#content-html").val(html);

        // Optimize string concatenation by using an array
        var things = [];
        var articles = $("#content").val().split(/<hr\s*\/?>/);

        articles.forEach(function(item) {
            things.push("<div class=\"article-container\">" + item + "</div>");
        });


        $("#preview-content-html").html(things.join(""));
    }

    function switchTab(tabId, tabContentId) {
        $(".tab-button").removeClass("tab-active");
        $(".tab-panel").removeClass("tab-panel-active");

        $("#" + tabId).addClass("tab-active");
        $("#" + tabContentId).addClass("tab-panel-active");

        if(tabId == "tab2") {
            createHtml();
        }
    }

    switchTab("tab1", "content-tab1");

    function submitForm() {
        document.getElementById("#main-form").submit();
    }
</script>