@using System.Globalization
@using TLD15.Composition
@using TLD15.Helpers
@using TLD15.Pages.Projects;
@model TLD15.Pages.Projects.PreviewModel

<div class="component-container">
    <h2 id="@PreviewModel.Meta.Id" class="component-title">@PreviewModel.Meta.Title</h2>

    @if (!Model.ModelState.IsValid)
    {
        <span asp-validation-for="@PreviewModel.Meta.Id"></span>
    }
    @if (Model.Data.Any())
    {
        <div class="articles-container">
            @foreach (var article in Model.Data)
            {
                <div id="@article.Id" class="article-card">
                    <div class="article-image-container">
                        <a asp-page="/Projects/Read" asp-route-idFriendly="@article.Id" rel="canonical">
                            @if (string.IsNullOrEmpty(article.PosterUrl))
                            {
                                <img class="article-image" loading="lazy"
                                     src="/images/placeholder/article.png"
                                     alt="@article.PosterAlt"
                                     aria-labelledby="@article.PosterAlt">
                            }
                            else
                            {
                                <img class="article-image" loading="lazy"
                                     src="@article.PosterUrl"
                                     alt="@article.PosterAlt"
                                     aria-labelledby="@article.PosterAlt">
                            }
                        </a>
                        <div class="article-image-overlay-division"
                             data-tooltip="@article.DivisionName">
                            @article.DivisionId.ToUpper()
                        </div>

                        <div class="article-image-overlay-date">
                            @article.CreatedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                        </div>
                    </div>

                    <a asp-page="/Projects/Read" asp-route-idFriendly="@article.Id"
                       class="article-title" rel="canonical">
                        <b>@article.Title</b>
                    </a>

                    <div class="article-description">
                        @article.Subtitle
                    </div>
                    <div class="project-buttons-container">
                        @foreach (var link in article.Links)
                        {
                            <a class="external-button" href="@link.Value">
                                <div class="external-button-language">
                                    @if (!string.IsNullOrEmpty(IconHelper.GetLanguage(@link.Key)))
                                    {
                                        @IconHelper.GetLanguage(@link.Key)
                                    }
                                </div>
                                <img class="external-button-icon" loading="lazy"
                                     src="@IconHelper.GetIcon(@link.Key)"
                                     alt="@link.Key">
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    }
</div>
