@using Common.Composition
@using TLD15.TagHelpers
@model TLD15.Pages.Contacts.AFeatureContacts.RequestEdit

<tr>
    <td>
        <input hidden type="text" asp-for="@Model.Id" />
        <input hidden type="text" asp-for="@Model.Version" />
        <input hidden type="text" asp-for="@Model.CreatedAt" />
        <input hidden type="text" asp-for="@Model.UpdatedAt" />
        <input type="text" asp-for="@Model.Name" />
    </td>
    <td>
        <input type="url" asp-for="@Model.Url" />
    </td>
    <td>
        <button hx-get="@Url.Handler("Item", new { id = Model.Id })" class="secondary" style="margin-bottom: 6px;">
            @Globals.Controls.Cancel
        </button>
        <button hx-put="@Url.Handler("Item", new { id = Model.Id })" hx-include="closest tr" antiforgery="true">
            @Globals.Controls.Save
        </button>
    </td>
</tr>