@using Common.Composition
@using System.Globalization
@using TLD15.Utils
@model TLD15.Pages.Contacts.PreviewContactsPartialModel

@if (!Model.ModelState.IsValid)
{
    <div class="component-container">
        <h2 id="@PreviewContactsPartialModel.MetaPublic.Id" class="component-title">@PreviewContactsPartialModel.MetaPublic.Title</h2>

        <div class="contact-container">
            @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    </div>

    return;
}

@if (Model.Data.Any())
{
    <div class="component-container">
        <h2 id="@PreviewContactsPartialModel.MetaPublic.Id" class="component-title">@PreviewContactsPartialModel.MetaPublic.Title</h2>

        <div class="contact-container">
            @foreach (var link in @Model.Data)
            {
                <a href="@link.Url">
                    <img class="contact-button" loading="lazy"
                         src="@IconHelper.GetIcon(link.Name)"
                         alt="@link.Name"
                         aria-labelledby="@link.Name">
                </a>
            }
        </div>
    </div>
}
