@page
@using System.Globalization
@using TLD15.Composition

@model TLD15.Pages.Lore.EditModel

@{
    ViewData[Globals.Page.Title] = $"{EditModel.Meta.Title} | {Globals.Brand.Title}";
}

<script src="~/js/jquery.min.js"></script>
<div class="component-container">
    <div class="tab-panel tab-panel-active" id="content-tab1">
        <form id="#main-form" class="article-edit" method="post">
            <input type="hidden" asp-for="@Model.Data.Version" />

            <input id="id" type="text" asp-for="@Model.Data.Id" placeholder="Id">

            <textarea id="content" asp-for="@Model.Data.Data" placeholder="Content" cols="40" rows="5"></textarea>
        </form>
    </div>

    <span asp-validation-for="@Model.Data" class="text-danger"></span>
    <button onclick="submitForm()">@Globals.Controls.Save</button>
</div>

<script>
    function submitForm() {
        var form = document.getElementById("#main-form");
        form.submit();
    }
</script>