@model TLD15.Pages.Lore.PreviewLoreModel

<h2 class="component-title" id="@TLD15.Pages.Lore.PreviewLoreModel.Anchor">
    @Model.Title
</h2>

@if(Model.Data != null) { 
<div class="lore-content">
    <div class="lore-content-image">
        <img loading="lazy"
             aria-labelledby="@Model.Data!.PosterAlt"
            src="@Model.Data!.PosterUrl" alt="@Model.Data!.PosterAlt">
    </div>
    <div class="lore-content-text">
        @Html.Raw(@Model.Data!.ContentHtml)
    </div>
</div>
}