@model TLD15.Pages.Lore.PreviewLoreModel

<h2 class="component-title" id="@TLD15.Pages.Lore.PreviewLoreModel.Id">
    @Model.Data!.Title
</h2>

<div class="lore-content">
    <div class="lore-content-image">
        <img src="@Model.Data!.PosterUrl" alt="@Model.Data!.PosterAlt">
    </div>
    <div class="lore-content-text">
        @Html.Raw(@Model.Data!.ContentHtml)
    </div>
</div>