@model TLD15.Pages.Lore.PreviewLoreModel

@if (Model.Data != null)
{
    <div class="component-container">
        <h2 id="@PreviewLoreModel.MetaPublic.Id" class="component-title">@PreviewLoreModel.MetaPublic.Title</h2>

        <div class="lore-content">
            <div class="lore-content-image">
                <img loading="lazy"
                     aria-labelledby="@Model.Data!.PosterAlt"
                     src="@Model.Data!.PosterUrl" alt="@Model.Data!.PosterAlt">
            </div>
            <div class="lore-content-text">
                @Html.Raw(@Model.Data!.ContentHtml)
            </div>
        </div>
    </div>
}