@using Common.Composition
@using System.Globalization
@using TLD15.Utils
@model TLD15.Pages.Social.PreviewSocialPartialModel

<h2 id="@TLD15.Pages.Social.PreviewSocialPartialModel.Anchor"
    class="component-title">@Model.Title</h2>

@if (Model.Data.Any())
{
    <div class="social-container">
        @foreach (var link in @Model.Data)
        {
            <a role="button" href="@link.Url">
                <img class="social-button" loading="lazy"
                     src="@IconHelper.GetIcon(link.Name)"
                     alt="@link.Name" aria-labelledby="@link.Name">
            </a>
        }
    </div>
}
