@using Common.Composition
@using System.Globalization
@using TLD15.Utils
@model TLD15.Pages.Social.PreviewSocialPartialModel

@if (Model.Data.Any())
{
    <div class="component-container">
        <h2 id="@Model.Anchor" class="component-title">@Model.Title</h2>

        <div class="social-container">
            @foreach (var link in @Model.Data)
            {
                <a role="button" href="@link.Url">
                    <img class="social-button" loading="lazy"
                         src="@IconHelper.GetIcon(link.Name)"
                         alt="@link.Name" aria-labelledby="@link.Name">
                </a>
            }
        </div>
    </div>
}