@using System.Globalization
@using TLD15.Helpers
@model TLD15.Pages.Social.PreviewModel

<div class="component-container">
    <h2 id="@PreviewModel.Meta.Id" class="component-title">@PreviewModel.Meta.Title</h2>

    @if (!Model.ModelState.IsValid)
    {
        <span asp-validation-for="@PreviewModel.Meta.Id"></span>
    }
    @if (Model.Data.Any())
    {
        <div class="social-container">
            @foreach (var link in @Model.Data)
            {
                <a href="@link.Value">
                    <img class="social-button"
                         src="@IconHelper.GetIcon(link.Key)"
                         alt="@link.Key"
                         aria-labelledby="@link.Key">
                </a>
            }
        </div>
    }
</div>