@page
@using Common.Composition
@using System.Globalization

@model TLD15.Pages.Articles.ManageArticlesModel

<script src="~/js/jquery/jquery-3.7.1.min.js"></script>

<script>
    function deleteArticle(id) {
        $.ajax({
            method: 'POST',
            url: "/?handler=Delete&id="+id,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (x) {
                location.reload();
            },
            failure: function (response) {
                console.log(response);
                alert(response);
            }
        });
    };

</script>

<div class="manage-container">
    <h1 class="component-title">Manage</h1>
    <div class="articles-container">
        @foreach (var article in Model.Data)
        {
            <div id="@article.Id" class="article">
                <div class="article-image-container">
                    <a asp-page="/Articles/Edit" asp-route-id="@article.Id" rel="canonical">
                        @if (string.IsNullOrEmpty(article.PosterUrl))
                        {
                            <img class="article-image" src="/images/placeholder/article.png" alt="@article.PosterAlt">
                        }
                        else
                        {
                            <img class="article-image" src="@article.PosterUrl" alt="@article.PosterAlt">
                        }
                    </a>
                    <div class="article-image-overlay-division"
                         data-tooltip="@Globals.Brand.Divisions[article.Division]">
                        @article.Division.ToUpper()
                    </div>

                    <div class="article-image-overlay-date">
                        @article.CreatedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                    </div>
                </div>

                <a asp-page="/Articles/Edit" asp-route-id="@article.Id" class="article-title" rel="canonical">
                    <b>@article.Title</b>
                </a>

                <div class="article-description">
                    @article.Subtitle
                </div>

                <div class="button-container">
                    <form method="get" asp-page="/Articles/Edit" asp-route-id="@article.Id">
                        <button type="submit"> @(article.Id == null ? Globals.Controls.Create : Globals.Controls.Edit) </button>
                    </form>

                    @if (article.Id != null) {
                        <form method="post" asp-page-handler="Delete">
                            <input type="hidden" name="id" value="@article.Id" />
                            <button type="submit">@Globals.Controls.Delete</button>
                        </form>
                    }
                </div>
            </div>
        }
    </div>
</div>