@using Common.Composition
@using TLD15.Pages.Shared.Components.BrandFooter
@using TLD15.Pages.Shared.Components.BrandHeader
@using TLD15.Pages.Shared.Components.CommonScrollToTop
@using TLD15.Pages.Shared.Components.NavigationHeader
@using TLD15.Pages.Shared.Components.NavigationAdmin

<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="author" content="@Globals.Brand.Author">
    <meta name="designer" content="@Globals.Brand.Designer">
    <meta name="publisher" content="@Globals.Brand.Title">
    <meta name="subtitle" content="@Globals.Brand.Slogan">

    <!-- Search Engine Optimization Meta Tags -->
    <meta name="description" content="@Globals.Brand.Description">
    <meta name="keywords" content="@Globals.Brand.Keywords">
    <meta name="copyright" content="@Globals.Brand.Title @Globals.Brand.Author">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="web">
    <meta name="robots" content="index,follow">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="theme-color" content="#08131a" />

    <!-- Open Graph -->
    <meta property="@Globals.OpenGraph.Title" content="@ViewData[Globals.Page.Title]">
    <meta property="@Globals.OpenGraph.Description" content="@ViewData[Globals.OpenGraph.Description]">
    <meta property="@Globals.OpenGraph.Url" content="@ViewData[Globals.OpenGraph.Url]">
    <meta property="@Globals.OpenGraph.Image" content="@ViewData[Globals.OpenGraph.Image]">
    <meta property="@Globals.OpenGraph.Locale" content="@Globals.Settings.Locale">
    <meta property="@Globals.OpenGraph.SiteName" content="@Globals.Brand.Title | @Globals.Brand.Type">
    <meta property="@Globals.OpenGraph.Type" content="website">
    <meta property="@Globals.OpenGraph.ArticleAuthor" content="@ViewData[Globals.OpenGraph.ArticleAuthor]">

    <!-- mobile meta tags -->
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- Title -->
    <title>@ViewData[Globals.Page.Title]</title>

    <!-- System -->
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/TLD15.styles.css" asp-append-version="true">
</head>
<body>
    @await Component.InvokeAsync(nameof(BrandHeader))
    @await Component.InvokeAsync(nameof(NavigationAdmin))

    <main role="main" class="container">
        @RenderBody()
    </main>

    @await Component.InvokeAsync(nameof(CommonScrollToTop))
    @await Component.InvokeAsync(nameof(BrandFooter))

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>