@using TLD15.Composition
@using TLD15.Pages.Shared.Components.BrandFooter
@using TLD15.Pages.Shared.Components.BrandHeader
@using TLD15.Pages.Shared.Components.CommonScrollToTop
@using TLD15.Pages.Shared.Components.NavigationAdmin
@using TLD15.Pages.Shared.Components.NavigationGlobal

<!DOCTYPE html>
<html lang="@Globals.Settings.Locale">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">

    <meta name="@Globals.Page.Meta.Language" content="@Globals.Settings.Locale">
    <meta name="@Globals.Page.Meta.Author" content="@Globals.Brand.Author">
    <meta name="@Globals.Page.Meta.Designer" content="@Globals.Brand.Designer">
    <meta name="@Globals.Page.Meta.Publisher" content="@Globals.Brand.Company">
    <meta name="@Globals.Page.Meta.Subtitle" content="@Globals.Brand.Slogan">
    <meta name="@Globals.Page.Meta.PageName" content="@ViewData[Globals.Page.Title]">

    <meta http-equiv="@Globals.Page.Meta.LastModified" content="@ViewData[Globals.Page.Meta.LastModified]" />

    <!-- Search Engine Optimization Meta Tags -->
    <meta name="@Globals.Page.Meta.Description" content="@ViewData[Globals.Page.Description]">
    <meta name="keywords" content="@Html.Raw(Globals.Brand.Keywords)">
    <meta name="copyright" content="@Globals.Brand.Title @Globals.Brand.Author">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="web">
    <meta name="robots" content="index,follow">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="url" content="@ViewData[Globals.Page.OpenGraph.Url]">
    <meta name="identifier-URL" content="@ViewData[Globals.Page.OpenGraph.Url]">

    <!-- Open Graph -->
    <meta property="@Globals.Page.OpenGraph.Title" content="@ViewData[Globals.Page.Title]">
    <meta property="@Globals.Page.OpenGraph.Description" content="@ViewData[Globals.Page.Description]">
    <meta property="@Globals.Page.OpenGraph.Url" content="@ViewData[Globals.Page.OpenGraph.Url]">
    <meta property="@Globals.Page.OpenGraph.Image" content="@ViewData[Globals.Page.OpenGraph.Image]">
    <meta property="@Globals.Page.OpenGraph.Locale" content="@Globals.Settings.Locale">
    <meta property="@Globals.Page.OpenGraph.SiteName" content="@Globals.Brand.Title">
    <meta property="@Globals.Page.OpenGraph.Type" content="website">
    <meta property="@Globals.Page.OpenGraph.ArticleAuthor" content="@ViewData[Globals.Page.OpenGraph.ArticleAuthor]">

    <!-- twitter cards-->
    <meta name="twitter:card" content="@ViewData[Globals.Page.Description]">
    <meta name="twitter:url" content="@ViewData[Globals.Page.OpenGraph.Url]">
    <meta name="twitter:title" content="@ViewData[Globals.Page.Title]">
    <meta name="twitter:description" content="@ViewData[Globals.Page.Description]">
    <meta name="twitter:creator" content="@ViewData[Globals.Page.OpenGraph.ArticleAuthor]">
    <meta name="twitter:card" content="summary">

    <!-- mobile meta tags -->
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="icon" href="~/favicon.png" />
    <link rel="apple-touch-icon" href="~/logo.png" />

    <!-- Title -->
    <title>@ViewData[Globals.Page.Title]</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/TLD15.styles.css" asp-append-version="true">

    <!-- System -->
    <link rel="canonical" href="@ViewData[Globals.Page.OpenGraph.Url]" />
</head>
<body>
    @await Component.InvokeAsync(nameof(BrandHeader))
    @await Component.InvokeAsync(nameof(NavigationGlobal))
    @await Component.InvokeAsync(nameof(NavigationAdmin))

    @RenderBody()

    @await Component.InvokeAsync(nameof(CommonScrollToTop))
    @await Component.InvokeAsync(nameof(BrandFooter))
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>