@using Common.Composition
@using TLD15.Pages.Shared.Components.BrandFooter
@using TLD15.Pages.Shared.Components.BrandHeader
@using TLD15.Pages.Shared.Components.CommonScrollToTop

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Meta Tags -->
    <meta name="author" content="Stan &ldquo;Chief&rdquo; Shevtsov">
    <meta name="designer" content="Stan &ldquo;Chief&rdquo; Shevtsov">
    <meta name="publisher" content="Stan &ldquo;Chief&rdquo; Shevtsov">
    <meta name="subtitle" content="Suffering builds">

    <!-- Search Engine Optimization Meta Tags -->
    <meta name="description" content="&ldquo;Fireplace of Despair&rdquo; is a creation of Stan &ldquo;Chief&rdquo; Shevtsov. The place where suffering builds. You know where I am going with it.">
    <meta name="keywords" content="Stan, Master Stan, Stan Shevtsov, Chief, Fireplace of Despair, スタン">
    <meta name="copyright" content="Fireplace of Despair">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="web">
    <meta name="robots" content="index,follow">
    <meta name="coverage" content='Worldwide'>
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">

    <!-- Open Graph-->
    <meta property="og:title" content="@ViewData[Globals.Page.Title]">
    <meta property="og:description" content="@ViewData[Globals.OpenGraph.Description]">
    <meta property="og:url" content="@ViewData[Globals.OpenGraph.Url]">
    <meta property="og:type" content="website">
    <meta property="og:image" content="@ViewData[Globals.OpenGraph.Image]">

    <!-- mobile meta tags -->
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>@ViewData[Globals.Page.Title]</title>

    <!-- System -->
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/TLD15.styles.css" asp-append-version="true">
</head>
<body>
    <header>
        @await Component.InvokeAsync(nameof(BrandHeader))

        <a href="\Articles\Edit">Edit</a>
    </header>
    
    <main role="main" class="container">
        @RenderBody()
    </main>


@*     <script src="~/js/site.js" asp-append-version="true"></script> *@

    @await Component.InvokeAsync(nameof(CommonScrollToTop))
    @await Component.InvokeAsync(nameof(BrandFooter))

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>