@using Common.Composition
@using TLD15.Pages.Shared.Components.BrandFooter
@using TLD15.Pages.Shared.Components.BrandHeader
@using TLD15.Pages.Shared.Components.CommonScrollToTop
@using TLD15.Pages.Shared.Components.NavigationAdmin
@using TLD15.Pages.Shared.Components.NavigationGlobal

<!DOCTYPE html>
<html lang="@Globals.Settings.Locale">
<head prefix="og: https://ogp.me/ns#">

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="@Globals.Meta.Language" content="@Globals.Settings.Locale">
    <meta name="@Globals.Meta.Author" content="@Globals.Brand.Author">
    <meta name="@Globals.Meta.Designer" content="@Globals.Brand.Designer">
    <meta name="@Globals.Meta.Publisher" content="@Globals.Brand.Company">
    <meta name="@Globals.Meta.Subtitle" content="@Globals.Brand.Slogan">
    <meta name="@Globals.Meta.PageName" content="@ViewData[Globals.Page.Title]">

    <!-- Search Engine Optimization Meta Tags -->
    <meta name="@Globals.Meta.Description" content="@ViewData[Globals.Page.Description]">
    <meta name="keywords" content="@Html.Raw(Globals.Brand.Keywords)">
    <meta name="copyright" content="@Globals.Brand.Title @Globals.Brand.Author">
    <meta name="revisit-after" content="7 days">
    <meta name="distribution" content="web">
    <meta name="robots" content="index,follow">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="General">
    <meta name="url" content="@Model.ApplicationHost">
    <meta name="identifier-URL" content="@Model.ApplicationHost">

    <!-- Open Graph -->
    <meta property="@Globals.OpenGraph.Title" content="@ViewData[Globals.Page.Title]">
    <meta property="@Globals.OpenGraph.Description" content="@ViewData[Globals.Page.Description]">
    <meta property="@Globals.OpenGraph.Url" content="@ViewData[Globals.OpenGraph.Url]">
    <meta property="@Globals.OpenGraph.Image" content="@ViewData[Globals.OpenGraph.Image]">
    <meta property="@Globals.OpenGraph.Locale" content="@Globals.Settings.Locale">
    <meta property="@Globals.OpenGraph.SiteName" content="@Globals.Brand.Title">
    <meta property="@Globals.OpenGraph.Type" content="website">
    <meta property="@Globals.OpenGraph.ArticleAuthor" content="@ViewData[Globals.OpenGraph.ArticleAuthor]">

    <!-- twitter cards-->
    <meta property="twitter:card" content="@ViewData[Globals.Page.Description]">
    <meta property="twitter:site" content="@ViewData[Globals.OpenGraph.Url]">
    <meta property="twitter:creator" content="@ViewData[Globals.OpenGraph.ArticleAuthor]">

    <!-- mobile meta tags -->
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="icon" href="~/favicon.png" />
    <link rel="apple-touch-icon" href="~/logo.png" />

    <!-- Title -->
    <title>@ViewData[Globals.Page.Title]</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/TLD15.styles.css" asp-append-version="true">

    <!-- System -->
    <link rel="canonical" href="@ViewData[Globals.OpenGraph.Url]" />
</head>
<body>
    @await Component.InvokeAsync(nameof(BrandHeader))

    @await Component.InvokeAsync(nameof(NavigationGlobal), new Dictionary<string, string>()
    {
        { "/Index", "Index" },
        { "/Press/Read", "Press" },
        { "/Projects/Archive", "Archive" },
    })

    @await Component.InvokeAsync(nameof(NavigationAdmin))

    <main role="main" class="container">
        @RenderBody()
    </main>

    @await Component.InvokeAsync(nameof(CommonScrollToTop))
    @await Component.InvokeAsync(nameof(BrandFooter))

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>