@page "/archive"
@using System.Globalization
@using TLD15.Composition
@using TLD15.Helpers
@using TLD15.Pages.Archive;

@model TLD15.Pages.Archive.ReadModel

@{
    ViewData[Globals.Page.Title] = $"{Globals.Brand.Title} | {ReadModel.Meta.Title}";

    ViewData[Globals.Page.OpenGraph.Url] = Model.Host.TrimLast('/') + ViewContext.HttpContext.Request.Path;
    ViewData[Globals.Page.OpenGraph.Image] = $"{Model.Host}logo.png";
    ViewData[Globals.Page.OpenGraph.Locale] = Globals.Settings.Locale;
}

<div class="component-container">
    <h1 id="@ReadModel.Meta.Id" class="component-title">@ReadModel.Meta.Title</h1>
</div>

@{if (Model.Articles.Any())
{
<div class="component-container">
    <h2 id="@ReadModel.Meta.Id" class="component-title">@TLD15.Pages.Articles.PreviewModel.Meta.Title</h2>
    <div class="articles-container">
        @foreach (var article in Model.Articles)
        {
            <div id="@article.Id" class="article-card">
                <div class="article-image-container">
                    <a asp-page="/Articles/Read" asp-route-id="@article.Id" rel="canonical">
                        @if (string.IsNullOrEmpty(article.PosterUrl))
                        {
                            <img class="article-image" loading="lazy"
                                 src="/images/placeholder/article.png"
                                 alt="@article.PosterAlt"
                                 aria-labelledby="@article.PosterAlt">
                        }
                        else
                        {
                            <img class="article-image" loading="lazy"
                                 src="@article.PosterUrl"
                                 alt="@article.PosterAlt"
                                 aria-labelledby="@article.PosterAlt">
                        }
                    </a>
                    <div class="article-image-overlay-division"
                         data-tooltip="@article.DivisionName">
                        @article.DivisionId.ToUpper()
                    </div>

                    <div class="article-image-overlay-date">
                        @article.CreatedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                    </div>
                </div>

                <a asp-page="/Articles/Read" asp-route-id="@article.Id"
                   class="article-title" rel="canonical">
                    <b>@article.Title</b>
                </a>

                <div class="article-description">
                    @article.Subtitle
                </div>
            </div>
        }
    </div>
</div>
}}

@{if (Model.Projects.Any())
    {
<div class="component-container">
    <h2 id="@ReadModel.Meta.Id" class="component-title">@TLD15.Pages.Projects.PreviewModel.Meta.Title</h2>
    <div class="articles-container">
        @foreach (var article in Model.Projects)
        {
            <div id="@article.Id" class="article-card">
                <div class="article-image-container">
                    <a asp-page="/Projects/Read" asp-route-id="@article.Id" rel="canonical">
                        @if (string.IsNullOrEmpty(article.PosterUrl))
                        {
                            <img class="article-image" loading="lazy"
                                 src="/images/placeholder/article.png"
                                 alt="@article.PosterAlt"
                                 aria-labelledby="@article.PosterAlt">
                        }
                        else
                        {
                            <img class="article-image" loading="lazy"
                                 src="@article.PosterUrl"
                                 alt="@article.PosterAlt"
                                 aria-labelledby="@article.PosterAlt">
                        }
                    </a>
                    <div class="article-image-overlay-division"
                         data-tooltip="@article.DivisionName">
                        @article.DivisionId.ToUpper()
                    </div>

                    <div class="article-image-overlay-date">
                        @article.CreatedAt.ToString(Globals.Settings.DateFormat, CultureInfo.InvariantCulture)
                    </div>
                </div>
                <a asp-page="/Projects/Read" asp-route-id="@article.Id" rel="canonical"
                   class="article-title">
                    <b>@article.Title</b>
                </a>

                <div class="article-description">
                    @article.Subtitle
                </div>
                <div class="project-buttons-container">
                    @foreach (var link in article.Links)
                    {
                        <a class="external-button" href="@link.Value">
                            <div class="external-button-language">
                                @if (!string.IsNullOrEmpty(IconHelper.GetLanguage(@link.Key)))
                                {
                                    @IconHelper.GetLanguage(@link.Key)
                                }
                            </div>
                            <img class="external-button-icon" loading="lazy"
                                 src="@IconHelper.GetIcon(@link.Key)"
                                 alt="@link.Key">
                        </a>
                    }
                </div>
            </div>
        }
    </div>
</div>
}}